.item-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #b5b7c4;
    max-width:300px;
    width:100%;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
}
@media screen and (min-width: 768px){
    .item-container{
        margin:10px;
    }
}
.title-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appointment-details{
    color: #171f46;
    font-size:16px;
    font-weight: 700;
}
.favourite{
    border: none;
    background-color: transparent;
}
img{
    height:25px;
}
.date-text{
    color: #b5b7c4;
    font-size:14px;
    font-weight: 600;
}